body {
    margin: 0px;
}

.left {
    float: left;
}

.container {
    background-color: black;
    width: 90vh;
    height: 90vh; 
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    grid-gap: 1px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}


.container div {

    background-color: gainsboro;
}

.container div:hover {
    background-color: grey;
}