:root {
    --num-squares: 10;
}

body {
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #DDDDDD;
}

.left {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

.container {
    background-color: #DDDDDD;
    width: 90vh;
    height: 90vh;
    display: grid;
    grid-template: repeat(var(--num-squares), 1fr) / repeat(var(--num-squares), auto);
    float: right;
    margin: 20px;
    border: 4px solid crimson;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}


.container div {
    background-color: white;
}

button {
    margin-top: 20px;
    padding: 10px;
    height: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: crimson;
}

a:visited {
    color: gray;
}

a:hover {
    text-decoration: underline;
}