:root {
    --num-squares: 10;
}

body {
    margin: 0px;
}

.left {
    float: left;
}

.container {
    background-color: black;
    width: 90vh;
    height: 90vh; 
    display: grid;
    grid-template: repeat(var(--num-squares), 1fr) / repeat(var(--num-squares), 1fr);
    grid-gap: 1px;
    float: right;
    margin: 20px;
    border: 20px solid black;
}


.container div {
    background-color: gainsboro;
}

.container div:hover {
    background-color: grey;
}